<title>Trgovina.co - {{changePass.changePassTitle}}</title>
<div class="offerListDetails col-xs-12 zeroPadding">
  <br>
  <div class="container">
    <div class="itemSellLocally col-xs-12 zeroPadding">
      <div class="col-xs-12 offersFollowers">
        <div class="followList col-xs-12 zeroPadding boxShadowList">
          <div class="followHeader padMore" style="text-align:left;">
            {{changePass.changePassword}}
          </div>
          <div class="settingListDetails col-xs-12 col-sm-8 col-sm-offset-2 padMore">
            <div class="col-xs-12 zeroPadding form-group">
              <div class="col-xs-12 zeroPadding sizeSmall">{{changePass.currentPassword}}:</div>
              <div class="col-xs-12 zeroPadding">
                <input type="password" name="oldPassword" [(ngModel)]="oldPassword" class="form-control inputSettings" placeholder="{{changePass.currentPassword}}">
              </div>
            </div>
            <div class="col-xs-12 zeroPadding form-group">
              <div class="col-xs-12 zeroPadding sizeSmall">{{changePass.newPassword}}:</div>
              <div class="col-xs-12 zeroPadding">
                <input type="password" name="newPassword" [(ngModel)]="newPassword" class="form-control inputSettings" placeholder="{{changePass.newPassword}}">
              </div>
            </div>
            <div class="col-xs-12 zeroPadding form-group">
              <div class="col-xs-12 zeroPadding sizeSmall">{{changePass.newPasswordAgain}}:</div>
              <div class="col-xs-12 zeroPadding">
                <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control inputSettings" placeholder="{{changePass.newPasswordAgain}}">
              </div>
            </div>
          </div>
          <div class="errorMsg col-xs-12 text-center" *ngIf="registerErrMsg">{{registerErrMsg}}</div>
          <hr class="col-xs-12 zeroPadding marginPadding">
          <div class="submitSave col-xs-12 padMore text-center">
            <div class="loaderGif" *ngIf="loaderButton"></div>
            <button type="button" class="btn btnSettingsSave" style="width: 150px;" (click)="passwordChange()" [disabled]="!(oldPassword && newPassword && confirmPassword)">{{changePass.submit}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>