<title>Trgovina.co - {{passwordReset.forgotPasswordTitle}}</title>
<!-- <title>Trgovina.Co</title> -->
<div class="offerListDetails col-xs-12 zeroPadding">
  <br>
  <div class="container">
    <div class="itemSellLocally col-xs-12 zeroPadding marginPaddings" style="background: #ffffff;">
      <div class="col-xs-12 offersFollowers">
        <div class="followList col-xs-12 zeroPadding boxShadowList"> 
          <div class="followHeader padMore text-center">
            {{passwordReset.newPasswordEnter}}
          </div>         
          <div class="settingListDetails col-xs-12 col-sm-8 col-sm-offset-2 padMore">            
            <div class="col-xs-12 zeroPadding form-group">
              <div class="col-xs-12 zeroPadding sizeSmall">{{passwordReset.newPassword}}:</div>
              <div class="col-xs-12 zeroPadding">
                <input type="password" name="newPassword" [(ngModel)]="newPassword" class="form-control inputSettings" placeholder="{{passwordReset.newPassword}}">
              </div>
            </div>
            <div class="col-xs-12 zeroPadding form-group">
              <div class="col-xs-12 zeroPadding sizeSmall">{{passwordReset.newPasswordAgain}}:</div>
              <div class="col-xs-12 zeroPadding">
                <input type="password" name="repeatPassword" [(ngModel)]="repeatPassword" class="form-control inputSettings" placeholder="{{passwordReset.newPasswordAgain}}">
              </div>
            </div>
          </div>
          <div class="errorMsg col-xs-12 text-center" *ngIf="registerErrMsg">{{registerErrMsg}}</div>
          <div class="col-xs-12 text-center successLink" style="display:none;color:#00ab80">{{passwordReset.success}}</div>
          <hr class="col-xs-12 zeroPadding marginPadding">
          <div class="submitSave col-xs-12 padMore text-center">
            <div class="loaderGif" *ngIf="loaderButton"></div>
            <button type="button" class="btn btnSettingsSave" style="width: 150px;" (click)="passwordChange()" [disabled]="!(newPassword && repeatPassword)">{{passwordReset.submit}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>