  .allRegisterList .container {
    max-width: 479px !important;
    }


    .forget-header{
      padding: 15px 5px;
    }
    .forgot-password h4{
      font-weight: 700;
      font-size: 16px;
      color: #555;
    }

    .forgot-password .reset-info{
      padding: 10px;
    }
    .forgot-password .reset-info p{
      font-size: 12px;
      color: #aaa;
      margin-bottom: 0px;
    }
    .pad20{
      padding: 20px;
    }

    .input-form input {
      font-size: 13px;
      padding: 0px 10px;
  }