<title *ngIf="data">Trgovina.co - {{data.title}}</title>
<!-- <title>Trgovina.Co</title> -->
<div class="privacyTotal allInnerContent text-center col-xs-12 zeroPadding">
  <br>
  <br>
  <br>
  <div class="container contentPage" [innerHTML]="terms" style="">
    
  </div>

</div>