<title>Trgovina.co - {{verifyEmail.verifyEmailTitle}}</title>
<!-- <title>Trgovina.Co</title> -->
<div class="allRegisterList YeloHome offerListDetails col-xs-12 zeroPadding">
  <div class="homepageCovers" style="opacity:0.9;margin-top: -20px;">
    <div class="container">
      <div class="text-center padMore" *ngIf="emailverify">
        <h3 class="" style="color : white;margin-top:25%;">{{verifyEmail.congratulationsVerified}}</h3>
      </div>
    </div>
  </div>
</div>